<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>body{font-family:monospace;background-color:#222;background:repeating-linear-gradient(45deg,#2b2b2b 0%,#2b2b2b 10%,#222 0%,#222 50%) 0 / 15px 15px;user-select:none}</style>

</head>
<body>
    <div class="container">
        <div class="list-group">
            {% for user in users %}
                <div class="list-group-item">
                    <strong>{{  user.username }}</strong>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
