<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>body{color:white;font-family:monospace;background-color:#222;background:repeating-linear-gradient(45deg,#2b2b2b 0%,#2b2b2b 10%,#222 0%,#222 50%) 0 / 15px 15px;user-select:none}</style>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="my-4 text-center">Register</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'login' %}">Already have an account? Login here</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
